#panel_color{
    -fx-background-color:#333333;
}
#gameBoard{
    -fx-background-color:white;
}

#ComputerPlay{
    -fx-background-color: blue;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-border-width: 5px;
    -fx-border-color: black;
    -fx-pref-width:60px;
    -fx-pref-height:60px; 
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0)
}

#ComputerPlay:hover{
    -fx-background-color:#1e90ff;
}
#HumanPlayer{
    -fx-background-color:red;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-border-width: 5px;
    -fx-border-color: black;
    -fx-pref-width:60px;
    -fx-pref-height:60px; 
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0)
}
#HumanPlayer:hover{
    -fx-background-color:#ffcc00;
}

#moveTargetPane{
    -fx-background-color:green;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-border-width: 5px;
    -fx-border-color: black;
    -fx-pref-width:60px;
    -fx-pref-height:60px; 
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0)
}
#moveTargetPane:hover{
    -fx-background-color:orange;
}

#HumanKing{   
    -fx-background-color:white;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-border-width: 5px;
    -fx-border-color: black;
    -fx-pref-width:60px;
    -fx-pref-height:60px; 
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0)
}
#HumanKing:hover{
    -fx-background-color:pink;
}

#gameLevelsPane{
    -fx-background-color:#333333;
}
#gameLevelsPane .label{
    -fx-text-fill:white;
    -fx-font-size:20px;
    -fx-font-style:italic;
}
#gameButton{
    -fx-text-fill:white;
    -fx-background-color:#ffcc00;
    -fx-font-size:20px;
    -fx-font-style:italic;
}
#gameButton:hover{
    -fx-text-fill:white;
    -fx-background-color:red;
}
#viewRules{
    -fx-text-fill:white;
    -fx-background-color:red;
    -fx-font-size:20px;
    -fx-font-style:italic;
}
#viewRules:hover{
    -fx-text-fill:white;
    -fx-background-color:#ffcc00;
}

#rulesPanel{
    -fx-background-color:#333333;
}
#rulesPanel .label{
    -fx-text-fill:white;
    -fx-font-size:20px;
    -fx-font-style:italic;
}
#rulesPanel .button{
    -fx-text-fill:white;
    -fx-background-color:#ffcc00;
    -fx-font-size:20px;
    -fx-font-style:italic;  
}
.accordion .titled-pane > *.content{
    -fx-background-color: transparent ;
    -fx-font-style:italic; 
}
.accordion .titled-pane .title {
    -fx-font-size:20px;
    -fx-text-fill:white;
    -fx-font-style:italic; 
}